[user]
    name = Lukasz Dobrzanski
    email = lukasz.m.dobrzanski@gmail.com
[core]
    excludesfile = /Users/serpiente/.gitignore_global
    editor = mate --wait
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    b = branch
    ci = commit
    co = checkout
    df = diff
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    st = status
[pager]
    color = true
[status]
    color = auto
[diff]
    renamelimit = 0
[merge]
    tool = vimdiff
